html {
  font-size: 16px;
}

body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;

  max-width: 80rem;
  height: 40rem;

  padding: 1rem;
}

/* Sidebar */
.sidebar {
  background-color: grey;
  width: 20rem;
  padding: 2rem;
}

.sidebar__step {
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: 2rem auto;

  margin-bottom: 2rem;
}

.sidebar__step--no {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;

  margin: 0;

  border-radius: 50%;
  border: solid;

  width: 2rem;
  height: 2rem;
}

.sidebar__step--secondary {
  grid-column: 2;
  grid-row: 1;

  margin: 0;
}

.sidebar__step--primary {
  grid-column: 2;
  grid-row: 2;

  margin: 0;
}

/* Steps */
.step {
  margin-left: auto;
  margin-right: auto;

  height: 100%;

  position: relative;
}

section:not(.step:nth-child(2)) {
  display: none;
}

.btn-box {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;

  width: 100%;
}

.btn--go-back {
  float: left;
}

.btn--next-step {
  float: right;
}

/* Form */
.plan-select {
  display: flex;
  flex-direction: row;

  width: 100%;
}

/* Personal Info */
.personal-info__controls--input {
  width: 100%;
  height: 2rem;

  margin-bottom: 1rem;
}

/* Plan */
.plan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.plan .heading {
  grid-row: 1;
  grid-column: 1/4;
}

.plan__option {
  grid-row: 2;
}

.plan__toggle-box {
  display: flex;
  flex-direction: row;
  justify-content: center;

  grid-row: 3;
  grid-column: 1/4;
}

.plan__toggle-box--option {
  margin-top: 0;
}

/* .plan__toggle-box--toggle */
/* .plan__toggle-box--round */

.plan__toggle-box--toggle{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.plan__toggle-box--round{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.plan__toggle-box--round:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .plan__toggle-box--round {
  background-color: #2196F3;
}

input:focus + .plan__toggle-box--round {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .plan__toggle-box--round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.plan__toggle-box--round {
  border-radius: 34px;
}

.plan__toggle-box--round:before {
  border-radius: 50%;
}
/* Add-Ons */
.add-ons {
  display: flex;
  flex-direction: column;
}

.add-ons__control {
  display: grid;
  grid-template-columns: 3rem repeat(2, auto);

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem;

  border: solid;
}

.add-ons__control--checkbox {
  grid-column: 1;
}

.add-ons__control--type {
  grid-column: 2;
  grid-row: 1;

  margin-bottom: 0.25rem;
}

.add-ons__control--description {
  grid-column: 2;
  grid-row: 2;
}

.add-ons__control--price {
  grid-column: 3;

  margin-left: auto;
}

/* Summary */

/* Thank You */
.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thank-you__img-box,
.thank-you__heading {
  margin-left: auto;
  margin-right: auto;
}

.thank-you__paragraph {
  text-align: center;
}
